@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Tahoma, sans-serif;
    font-size: 20px;
  }
}

@font-face {
  font-family: "Dank Mono";
  font-weight: 400;
  src: local('Dank Mono'), url("../fonts/DankMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "IBM Plex Serif";
  font-weight: 400;
  src: local("IBM Plex Mono"), url("../fonts/IBMPlexSerif-Regular.ttf") format("truetype");
}

.text-outline {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px #343434;
}

body.dark .text-outline {
  -webkit-text-stroke: 1px #fff;
}



.default-animation {
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 100ms;
}

.active>.default-animation {
  transition-delay: 0s;
}

.default-animation.faster {
  transition-duration: 200ms;
}

.default-animation.delay-first {
  transition-delay: 0ms;

}

.default-animation.delay-last {
  transition-delay: 100ms;
}

.active>.default-animation.delay-first {
  transition-delay: 400ms;
}

.active>.default-animation.delay-last {
  transition-delay: 500ms;
}

body {
  overflow: scroll;
}

.hamburger-overlay-active {
  overflow-y: hidden;
}